<div id="sidebar_menu" class="opacity-0">
    <div class="sidebar_menu_container">
      <button type="button" aria-hidden="true" style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></button>
      <div>
        <div class="relative z-[1000]" id="headlessui-dialog-:ro:" role="dialog" aria-modal="true" data-headlessui-state="open" aria-labelledby="headlessui-dialog-title-:rq:">
          <div class="fixed inset-0">
            <div class="absolute inset-0 overflow-hidden">
              <div class="bg-black fixed inset-y-0 flex max-w-full ">
                <div class="w-screen h-screen max-w-lg text-left align-middle transition-all shadow-xl bg-contrast translate-x-0" id="headlessui-dialog-panel-:rp:" data-headlessui-state="open">
                  <header class="sticky top-0 mt-8 flex items-center px-6 sm:px-8 md:px-12 justify-between">
                    <h2 id="headlessui-dialog-title-:rq:" data-headlessui-state="open">
                      <span id="cart-contents" class="whitespace-pre-wrap max-w-prose font-header text-3xl font-medium">{{ section.settings.menu_title }}</span>
                    </h2>
                    <button type="button" class="p-4 -m-4 transition text-primary hover:text-primary/50" tabindex="0" id="close_sidebar_menu">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-label="Close panel" fill="currentColor" stroke="currentColor" class="w-5 h-5">
                        <title>Close</title>
                        <line x1="4.44194" y1="4.30806" x2="15.7556" y2="15.6218" stroke-width="1.25"></line>
                        <line y1="-0.625" x2="16" y2="-0.625" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16 4.75)" stroke-width="1.25"></line>
                      </svg>
                    </button>
                  </header>
                  <div class="grid">
                    <nav class="grid gap-6 p-6 sm:px-12 sm:py-8">
                      <div class="flex gap-4 flex-wrap">
                        {%- for link in section.settings.sidebar_menu.links -%}
                            <h2 class="whitespace-pre-wrap max-w-prose font-header text-2xl w-full mt-4">{{ link.title | escape }}</h2>

                            {%- for childlink in link.links -%}
                                {%- if childlink.url contains 'http://' or childlink.url contains 'https://' -%}
                                    <a href="{{ childlink.url }}" target="_blank" rel="noreferrer">
                                        <div class="flex items-center gap-4">
                                          <span class="max-w-prose whitespace-pre-wrap inherit font-serif text-base">{{ childlink.title | escape}}</span>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
                                            <path fill="#00A0DC" fill-rule="evenodd" d="M12.667 8A.667.667 0 1 1 14 8v4a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h4a.667.667 0 0 1 0 1.333H4A.667.667 0 0 0 3.333 4v8c0 .368.299.667.667.667h8a.667.667 0 0 0 .667-.667V8Zm-.946-4.667h-1.053a.667.667 0 1 1 0-1.333h2.667c.368 0 .666.298.666.667v2.666a.667.667 0 0 1-1.333 0V4.28L8.475 8.467l-.004.004a.667.667 0 0 1-.943-.004l-.004-.004a.667.667 0 0 1 .004-.943l4.193-4.187Z" clip-rule="evenodd"></path>
                                          </svg>
                                        </div>
                                    </a>              
                                {%- else -%}
                                    <a class="w-full" href="{{ childlink.url }}">
                                        <div class="flex items-center gap-4">
                                        <span class="max-w-prose whitespace-pre-wrap inherit font-serif text-base">{{ childlink.title | escape}}</span>
                                        </div>
                                    </a>          
                                {%- endif -%}
                            {%- endfor %}

                        {%- endfor %}                            
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" aria-hidden="true" style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></button>
    </div>
  </div>