<footer role="contentinfo" class="w-full gap-4 md:gap-6 grid p-4 md:p-6 lg:px-12 border-none !p-0">
  <div class="!pt-2 md:p-8 p-4 footer border-t border-skin-dark-soft bg-skin-dark md:flex content-between flex-wrap pb-[57px] lg:pb-0 relative z-20">
    <div id="footer-container" class="flex w-full flex-col">
      <div id="middle-widgets" class="grow w-full">
        <div class="rounded-md bg-skin-secondary mt-4 p-4 max-w-[400px]">
          <label class="text-white flex flex-col font-heading tracking-wide  font-medium mb-2 pb-2 text-lg text-skin-inverted mb-[5px] ">Subscribe: <input id="subscription-widget" type="email" class="mt-[5px] bg-skin-dark-soft text-white border-0 font-medium" placeholder="Enter your email address">
          </label>
          <button class="text-black font-medium inline-block uppercase cursor-pointer text-center py-3 px-6 rounded-md transition-all hover:tracking-wide hover:text-md hover:font-bold bg-skin-primary w-full" disabled="">Sign up</button>
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 mt-8">
          <div class="widget-link  pt-3">
            <p class="pb-2 text-2xl text-heading tracking-wide border-b border-skin-accent text-skin-inverted pb-1 m-0">Shop Hemp</p>
            <ul class="mt-3">
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://shop.cookies.co/products">Featured Products</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/collections/cbd">CBD</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/collections/delta-8-hhc-2g-blunts">Delta 8, HHC &amp; THC-O</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/collections/accessories">Accessories</a>
              </li>
            </ul>
          </div>
          <div class="widget-link  pt-3">
            <p class="pb-2 text-2xl text-heading tracking-wide border-b border-skin-accent text-skin-inverted pb-1">Visit Our Other Sites</p>
            <ul class="mt-3">
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://cookies.co/">Cookies.co</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://cookiessf.com/">Cookies Clothing</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://impact.cookies.co/">Cookies Social Impact</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://cookies.co/stores">Cookies Store Locator</a>
              </li>
            </ul>
          </div>
          <div class="widget-link  pt-3">
            <p class="pb-2 text-2xl text-heading tracking-wide border-b border-skin-accent text-skin-inverted pb-1">Our Brands</p>
            <ul class="mt-3">
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://cookies.co/">Cookies</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://lemonnade.com/">Lemonnade</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://collinsave.co/">Collins Ave</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://www.theminntz.com/">Minntz</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://grandifloragenetics.com/">Grandiflora</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" rel="noreferrer noopener" href="https://runthejewels.com/pages/smoke">Run The Jewels</a>
              </li>
            </ul>
          </div>
          <div class="widget-link  pt-3">
            <p class="pb-2 text-2xl text-heading tracking-wide border-b border-skin-accent text-skin-inverted pb-1">Help</p>
            <ul class="mt-3">
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/pages/shipping-policy">Shipping Policy</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/pages/return-and-exchange-policy">Return and Exchange Policy</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/pages/contact">Contact</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/pages/terms-conditions">Terms &amp; Conditions</a>
              </li>
              <li class="mb-1">
                <a class="font-secondary tracking-tight text-skin-inverted" href="/pages/privacy-policy">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hidden md:block"></div>
      </div>
      <div id="right-widgets" class="grow w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-6 gap-2 mt-12">
          <div id="widget-social-media">
            <p class="onlyDesktop font-heading tracking-wide font-medium mb-2 pb-2 text-lg text-skin-inverted">{{ settings.social_title }}</p>
            <ul>
              <li>
                <a rel="noreferrer noopener" href="{{ settings.social_instagram_link }}" target="_blank">                  
                  <img class="invert" src="https://a.c6cdn.net/static/storefront//assets/images/social/v3/instagram.svg" width="30" height="30" alt="instagram" loading="lazy" decoding="async">
                </a>
              </li>
              <li>
                <a rel="noreferrer noopener" href="{{ settings.social_facebook_link }}" target="_blank">
                  <img class="invert" src="https://a.c6cdn.net/static/storefront//assets/images/social/v3/facebook.svg" width="30" height="30" alt="facebook" loading="lazy" decoding="async">
                </a>
              </li>
              <li>
                <a rel="noreferrer noopener" href="{{ settings.social_twitter_link }}" target="_blank">
                  <img class="invert" src="https://a.c6cdn.net/static/storefront//assets/images/social/v3/twitter.svg" width="30" height="30" alt="twitter" loading="lazy" decoding="async">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright-bar" class="w-full sm:p-8! sm:mx-2 bg-skin-dark p-0 m-0">
    <div class="w-full text-xs">
      <div class="my-4">
        <p>{{settings.copyright_text}}</p>
      </div>
    </div>
  </div>
</footer>


{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer-menu",
      "label": "Menu"      
    }
  ]
}
{% endschema %}
